{% extends 'base.html.twig' %}

{% block title %}Hello ScientistController!{% endblock %}

{% block body %}
    {{ dump(data) }}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>{{ data.scientist.name|default(false) }} {{ data.scientist.surname|default(false) }} {{ data.scientist.surname_two|default(false) }}</h2>
                <h4>Biography:</h4>
                <p>{{ data.scientist.biography|default(false) }}</p>
                <h4>Institute:</h4>
                <p>{{ data.scientist.institut|default(false) }}</p>
                <h4>Scientific blog:</h4>
                <p>{{ data.scientist.scentis_blog|default(false) }}</p>
                <h4>Academic degree:</h4>
                <p>{{ data.scientist.academic_degree|default(false) }}</p>
                <h4>Academic title:</h4>
                <p>{{data.scientist. academic_title|default(false) }}</p>
                <h4>Mentor:</h4>
                <p>{{ data.scientist.mentor|default(false) }}</p>
                <h4>Student:</h4>
                <p>{{ data.scientist.student|default(false) }}</p>
            </div>
            <div class="col-md-6">
                <img src="{{ data.scientist.image_scientist|default(false) }}" alt="scientist image">
                <h4>Additional information:</h4>
                <ul>
                    <li><strong>Date of birth:</strong> {{ data.scientist.date_brith|default(false) }}</li>
                    <li><strong>Date of death:</strong> {{ data.scientist.date_death|default(false) }}</li>
                    <li><strong>Date of start work:</strong> {{ data.scientist.date_start_work|default(false) }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
